__pycache__
*.pyc
.DS_Store
.terraform/
*.tfstate
*.tfstate.backup
.env
venv/
.coverage
.pytest_cache/
.venv/
.terraform.lock.hcl
infra/.terraform.tfstate.lock.info
secret-argo.txt
dev/secret-argo.txt
.claude/
secret-grafana.txt